<!doctype html system "html.dtd">
<html><head>
<title>Shut Down</title>
<link rev="made" href="mailto:steve@crc.ricoh.com"></link>
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">
<set entity name=title>Shut Down</set>
<read interform file="heading.inc" process>

<h2>Shut Down</h2>

<if><get form name="function">
    <then>
	<set entity name=function><get form name=function></set>
	<if><test exact match="computer">&function;</test>
	    <then>
		<set entity name="home"><get env name="HOME"></set>
		<if><test match="^.?.?.?x"><get info
		     file="&home;/pia/bin/shutdown"></test>
		    <then><os-command>&home;/pia/bin/shutdown</os-command>
			  System shutdown in progress.
		    </then><else><if><test match="^.?.?.?x"><get info
		     file="&home;/bin/shutdown"></test>
		    <then><os-command>&home;/bin/shutdown</os-command>
			  System shutdown in progress.
		    </then><else>
			  Function not available.
		    </else>
		</if>
	    </then>
	<else><if><test exact match="pia">&function;</test>
	    <then><submit-forms>Agency shutdown in progress.  The following
			form will be submitted automatically:
			<form action="/&agentName;/&fileName;" method=POST>
			<input type="submit" value="AUTOMATIC SHUTDOWN">
			<input name=function value="immediately">
			</form>
	          </submit-forms>
	    </then>
	<else><if><test exact match="immediately">&function;</test>
	    <then><pia-exit>PIA shut down by user request</pia-exit></then>
	<else>Unrecognized function `<get form name="function">'.</else>
	</if></if></if>
    </then><else>
	<form action="/&agentName;/&fileName;" method=GET>
	<select name=function>
		<option>computer</option>
		<option>pia</option>
		<option>immediately</option>
	</select>
	<input type="submit" value="CONFIRM">
	</form>
	(Selecting `immediately' shuts down the PIA without sending you
	 a page in response to the form.  It's not necessary.)
    </else>
</if>

<p>
This page lets you shutdown either the Agency, or the computer (operating
system).  The latter operation will only be done if there is a program called
<code>shutdown</code> in your home binary directory,
<code>&home;/bin/</code>.  The peripheral agency user, ``pia,'' will normally
have this; an ordinary user will not.  If you shut down the Agency on a
stand-alone peripheral, you will almost certainly have trouble getting it
restarted. <p>

Source for the <code>shutdown</code> program can be found in <a
href="/PIA/src/app/setuid/">/PIA/src/app/setuid/</a> in the file
<a href="/PIA/src/app/setuid/shutdown.c"><code>shutdown.c</code></a>; this is
really just a wrapper for the system program <code>/sbin/shutdown</code>.  You
have to be the superuser in order to install it.<p>


<hr>
<b>Copyright &copy; 1997 Ricoh California Research Center</b><br>
<b>$Id: shutdown.if,v 1.2 1999-03-12 19:22:06 steve Exp $</b><br>
<address><a href="http://www.crc.ricoh.com/people/steve/steve.html"
         >Stephen R. Savitzky</a> &lt;<a href="mailto:steve@crc.ricoh.com"
         >steve@crc.ricoh.com</a>&gt;</address>
</body></html>
