<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>t4.if</title>
<link rev="made" href="mailto:steve@rsv.ricoh.com">
</head><body>
<h1>InterForm test file t4.if</h1>

This file includes more expensive tests, for example those that read and write
intermediate files and/or perform expensive computations.

<h2>Authentication</h2>
<actor tag=authenticate empty handle></actor>
<actor tag=password-file-entry handle></actor>

<write file="t4.tmp1">
<password-file-entry user=foobar password=frobozz>extra:stuff</>
</write>
should be 'foobar' '<authenticate user=foobar password="frobozz" file=t4.tmp1>'
should be '' '<authenticate user=foobar password="Frobozz" file=t4.tmp1>'
should be '' '<authenticate user=foobax password="frobozz" file=t4.tmp1>'

<hr>
<b>Copyright &copy; 1997 Ricoh Silicon Valley</b><br>
<!-- the following conditional keeps the id out of the results --><if>
<then><b>t4.if,v 1.1 1998/03/20 23:28:13 steve Exp</b><br></then></if>
</body></html>
