<!doctype html public "-//IETF//DTD HTML//EN//2.0">
<html><head>
<title>Home Page for &agentName;</title>
<link rev="made" href="mailto:wolff@crc.ricoh.com">
<base href="http://&piaHOST;:&piaPORT;/&agentName;/home.if">
</head><body bgcolor="#ffffff" link="#c40026" vlink="#e40026">

<set entity name=zcal><calendar month=9 year=1997></set>
<calendar-day cal=&zcal day=2>hello world</calendar-day>

<get index="zcal.caption">

<get index="zcal.tr-1-1.td-1-1.b.Text">
<get index="zcal.tr-1-1.td-7-7.b.Text">


<get index="zcal.tr">
<get index="zcal.tr-2-2">
<set index="zcal.tr-2-2.td-2-2"><li>foo</li></set>
&zcal;

<get index="zcal row=2 col=2">

<get index="zcal" row=1>

<get index="zcal" rows=1-5>

<set index="zcal" row=2 col=1>foobar</set>
<set index="zcal" row=6 col=3 insert=-1><li>last</li></set>
&zcal;

<hr>
<a href="/">PIA</a> || <a href="/Agency">Agency</a> ||
<a href="/&agentName;/home.if">&agentName;</a>:
<a href="&agentName;/">index</a>
<a href="&agentName;/options.if">options</a>
<hr>
<b>Copyright &copy; 1997 Ricoh Silicon Valley</b><br>
<b>t5.if,v 1.1 1998/03/20 23:28:13 steve Exp</b><br>
</body></html>
